#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

// System commands
#ifdef CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(usb,        &out OUT_USB,   U S B)
ZMK_LEADER_SEQUENCE(ble,        &out OUT_BLE,   B L E)
#endif // CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(reset,      &sys_reset,     R E S E T)
ZMK_LEADER_SEQUENCE(boot,       &bootloader,    B O O T)

// Layer toggles
ZMK_LEADER_SEQUENCE(toggle_fn,     &tog 1,          N1)  // Toggle function layer
ZMK_LEADER_SEQUENCE(toggle_num,    &tog 2,          N2)  // Toggle numpad layer

// Bluetooth profiles
ZMK_LEADER_SEQUENCE(bt1,        &bt BT_SEL 0,   B T N1)
ZMK_LEADER_SEQUENCE(bt2,        &bt BT_SEL 1,   B T N2)
ZMK_LEADER_SEQUENCE(bt3,        &bt BT_SEL 2,   B T N3)
ZMK_LEADER_SEQUENCE(bt_clear,   &bt BT_CLR,     B T C)

// Special keys
ZMK_LEADER_SEQUENCE(rename,     &kp F2,         DELETE)  // Leader + DELETE outputs F2
